<h1>Notre sélection de chambres</h1>

<div class="room-cards">
  <%= @rooms.each do |room| %>
    <div div class="room-card">
      <img src="<%= room.image %>" alt="chambre", class="room-card-img">
      <%# <%= image_tag "chambre 2.jpg", alt: "chambre", class: "room-card-img" %>
      <div class="room-card-num">
        <h3>Chambre n° <%= room.id %></h3>
        <div class="room-card-infos">
          <p>Nb de personnes max : <%= room.capacity %></p>
          <p><strong><%= room.price_per_night %> € / nuit</strong></p>
        </div>
        <div class="room-card-button">
          <%= link_to "Voir la chambre", room_path(room), class: "room-card-button-cta btn btn-primary"%>
        </div>
      </div>
    </div>
    <% end %>
</div>
